*.log
*.pot
*.pyc
__pycache__
db.sqlite3
uploads
graphData
notes
highlights
media
Scripts
Lib
data
pyvenv.cfg
.vscode
venv/
spacy_models/*.csv
spacy_models/categorization_output.csv
src/db/chromadb_data/chroma.sqlite3
src/db/chromadb_data/